@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    background-color: #015045;
    border-style: solid;
}


.title {
    font-size: 6rem;
    order: 2;
    font-family: 'Indie Flower', cursive;
    justify-self: center;
    align-self: center;
    margin: 0;
    color: #be3400;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


button {
    font-family: 'Roboto', sans-serif;
    background-color: #020d22;
    color: #f7cdab;
    border-color: #020d22;
    border-radius: 1rem;
    margin-right: 0.5rem;
    font-size: 2rem;
}

button:hover {
    background-color: #041d4b;
}

span {
    justify-content: center;
    margin: auto;
    width: 30%;
}

input{
    height: 50px;
    width: 250px;
    font-size: 1.5rem;
    margin-top: .5rem;
}

h1 {
    margin-bottom: 0;
}

h2 {
    display: block;
}

h4 {
    margin: 0;
}

h5 {
    margin-top: 0;
}

.signInForm {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 5rem;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
} 

.categories > p {
    display: inline-block;
    justify-content: center;
    font-size: 3.5rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    
}

.buttonContainer > button {
    font-family: 'Indie Flower', cursive;
    padding: 4rem;
    width: 250px;
    margin: 0.5rem;
}


.add-animal-button {
    margin-top: 1rem;
    width: 17rem;
}

.animalContainer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
} 

.animal-card {
    display: flex;
    flex-direction: column;
    background-color: #f3d9c4; 
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    font: #020d22;
    width: 500px;
    margin: 1rem;
    border: solid;
}

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid .5px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userTitle{
    align-self: center;
}


.userTitle{
    font-size: 3rem;
    align-self: center;
} 

.flip-card-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.flip-card {
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
    background-color: transparent;
    width: 500px;
    height: 350px;
    border: 1px solid;
    margin: .5rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #caaf9c;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #0a012f6e;
    color: black;
    transform: rotateY(180deg);
  } 

  .flip-card-back > h1, h4, h5, p, h6{
    margin-top: 2rem;
  }

#googleMap{
    display: none;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}








